@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #86836D;}


.logo {
  transition: transform 0.2s;
}

.logo:hover {
  transform: scale(1.1);
}

.status-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.5em;
  visibility: hidden;
}

.logo:hover + .status-icon {
  visibility: visible;
}

.status-icon:before {
  content: attr(data-icon); /* Display the emoji from data-icon attribute */
}

.public:before {
  content: "🌐"; /* Public emoji */
}

.private:before {
  content: "🔒"; /* Private emoji */
}
